html, body, header, main, footer, section, article, figure, img 
  width: 100%

html 
  scroll-behavior: smooth

img 
  object-fit: cover

* 
  margin: 0
  padding: 0
  box-sizing: border-box
  overflow-x: hidden

button, input, fieldset 
  border: none

input::-webkit-search-cancel-button 
  display: none

fieldset, figure 
  display: flex

ul, ol 
  list-style: none

li 
  text-indent: 0

a 
  text-decoration: none
  color: black

a:visited 
  color: black
