/*   ::: BASE :::   */
:where(html, body, header, main, footer, section, article, figure, img) {
  width: 100%;
}

:where(html) {
  scroll-behavior: smooth;
}

:where(img) {
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:where(button, input, fieldset) {
  border: none;
}

:where(input::-webkit-search-cancel-button) {
  display: none;
}

:where(fieldset, figure) {
  display: flex;
}

:where(ul, ol) {
  list-style: none;
}

:where(li) {
  text-indent: 0;
}

:where(a, a:visited) {
  color: black;
  text-decoration: none;
}

/*   ::: MAPS :::   */
/*   ::: LOOPS :::   */
.green1-txt {
  color: #f4fffb;
}

.green1-bg {
  background-color: #f4fffb;
}

.green2-txt {
  color: #def2ea;
}

.green2-bg {
  background-color: #def2ea;
}

.green3-txt {
  color: #6c867d;
}

.green3-bg {
  background-color: #6c867d;
}

.green4-txt {
  color: #667c7e;
}

.green4-bg {
  background-color: #667c7e;
}

.green5-txt {
  color: #43524e;
}

.green5-bg {
  background-color: #43524e;
}

.green6-txt {
  color: #2a3330;
}

.green6-bg {
  background-color: #2a3330;
}

.yellow1-txt {
  color: #fffaf1;
}

.yellow1-bg {
  background-color: #fffaf1;
}

.yellow2-txt {
  color: #ffeac1;
}

.yellow2-bg {
  background-color: #ffeac1;
}

.yellow3-txt {
  color: #e7cb84;
}

.yellow3-bg {
  background-color: #e7cb84;
}

.yellow4-txt {
  color: #e8a724;
}

.yellow4-bg {
  background-color: #e8a724;
}

/*   ::: COMPONENTS :::   */
/*   ::: HOMEPAGE LAYOUT :::   */
/*   ::: STRECHING RULES :::   */
.row {
  width: 100%;
}

.col {
  height: 100%;
}

/*   ::: ANIMATIONS :::   */
