/*   ::: MIXINS :::   */
/*   ::: MAP:::   */
/*   ::: LOOP :::   */
html {
  z-index: -30;
}

body {
  z-index: -20;
}

aside {
  z-index: -10;
}

section {
  z-index: 20;
}

article {
  z-index: 30;
}

/*   ::: ELEMENTS :::   */
header, main, footer {
  z-index: 10;
}

.body__middle {
  z-index: 0;
}

.grid {
  display: grid;
}

/*   ::: CONTAINERS :::   */
.flexbox {
  display: flex;
}

/*   ::: ITEMS :::   */
/*   ::: BASE :::   */
/*   ::: DEFAULT STYLE SHEET :::   */
:where(html) {
  scroll-behavior: smooth;
  z-index: 0;
}

:where(html, body) {
  width: 100vw;
  height: 100vh;
}

:where(header, main, footer, section) {
  width: 100%;
}

:where(aside) {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:where(img) {
  object-fit: cover;
}

:where(button, input, fieldset) {
  border: none;
}

:where(input::-webkit-search-cancel-button) {
  display: none;
}

:where(fieldset, figure) {
  display: flex;
}

:where(ul, ol, dl) {
  list-style: none;
}

:where(li, dt, dd) {
  text-indent: 0;
  border: solid 1px black;
  display: inline-flex;
}

:where(a, a:visited) {
  color: black;
  text-decoration: none;
  display: inline-flex;
  background-color: grey;
  height: 30px;
  border: solid 1px black;
}

:where(.row) {
  width: 100%;
}

:where(.col) {
  height: 100%;
}

:where(.row, .col) {
  flex: 1 1 auto;
}

/*   ::: VARIABLES & MAPS :::   */
/*   ::: BACKGROUNDS :::   */
.green1-bg {
  background-color: #f4fffb;
}

.green2-bg {
  background-color: #def2ea;
}

.green3-bg {
  background-color: #6c867d;
}

.green4-bg {
  background-color: #667c7e;
}

.green5-bg {
  background-color: #43524e;
}

.green6-bg {
  background-color: #2a3330;
}

.yellow1-bg {
  background-color: #fffaf1;
}

.yellow2-bg {
  background-color: #ffeac1;
}

.yellow3-bg {
  background-color: #e7cb84;
}

.yellow4-bg {
  background-color: #e8a724;
}

.white-bg {
  background-color: white;
}

/*   ::: COMPLEX SELECTORS :::   */
.green4-bg [class*=txt] {
  color: #fffaf1;
}

.green5-bg [class*=txt] {
  color: #fffaf1;
}

.green6-bg [class*=txt] {
  color: #fffaf1;
}

.white-bg [class*=txt] {
  color: #e8a724;
}

.yellow3-bg [class*=txt] {
  color: white;
}

.yellow1-bg [class*=txt] {
  color: #2a3330;
}

/*   ::: COMPONENTS :::   */
/*   ::: HOMEPAGE LAYOUT :::   */
/*   ::: STRECHING RULES :::   */
.body {
  grid-template-columns: 2% auto 2%;
}
.body__left, .body__right {
  height: 100%;
}
.body__left {
  flex-direction: row-reverse;
}

.ray {
  width: 2px;
}

/*   ::: ANIMATIONS :::   */
